<div>
    <h1 class="text-center">--News--</h1>
</div>

<div class=" bg-claer shadow d-flex column mt-5" style="height: auto; border-radius: 8px;">
    <img class="mr-2 mt-3 img2 mb-2"  src="../../../assets/warzone1.4.jpg" alt="...">
<div>
    <h2 class="text-centar cont3">Gran Lanzamiento</h2>
    <p class="mr-2 mt-2 font-weight-lighter">“Nos sentimos realmente bien sobre lo que está liderando Sledgehammer Games para lanzarse en el cuarto trimestre de este año”, revela Kostich. “El estudio nunca ha sido tan grande o fuerte que ahora en sus equipos de Foscer City y Melbourne, y ahora además también en Toronto”. El presidente subraya que el desarrollo “está yendo realmente bien” a través “de todos los modos de juego”, donde hace hincapié en la experiencia “a través del multijugador, a través de la campaña y a través del cooperativo”.</p>
    </div>
</div>

<div class=" bg-claer shadow d-flex column mt-5" style="height: auto; border-radius: 8px;">
    <img class="mr-2 mt-3 img2 mb-2"  src="../../../assets/warzone1.2.jpg" alt="...">
<div>
    <h2 class="text-centar cont3">XIX mundial Call of Duty</h2>
    <p class="mr-2 mt-2 font-weight-lighter">“Nos sentimos realmente bien sobre lo que está liderando Sledgehammer Games para lanzarse en el cuarto trimestre de este año”, revela Kostich. “El estudio nunca ha sido tan grande o fuerte que ahora en sus equipos de Foscer City y Melbourne, y ahora además también en Toronto”. El presidente subraya que el desarrollo “está yendo realmente bien” a través “de todos los modos de juego”, donde hace hincapié en la experiencia “a través del multijugador, a través de la campaña y a través del cooperativo”.</p>
    </div>
</div>

<div class=" bg-claer shadow d-flex column mt-5" style="height: auto; border-radius: 8px;">
    <img class="mr-2 mt-3 img2 mb-2"  src="../../../assets/wardzoneabout.jpg" alt="...">
<div>
    <h2 class="text-centar cont3">Nuevos personajes</h2>
    <p class="mr-2 mt-2 font-weight-lighter">“Nos sentimos realmente bien sobre lo que está liderando Sledgehammer Games para lanzarse en el cuarto trimestre de este año”, revela Kostich. “El estudio nunca ha sido tan grande o fuerte que ahora en sus equipos de Foscer City y Melbourne, y ahora además también en Toronto”. El presidente subraya que el desarrollo “está yendo realmente bien” a través “de todos los modos de juego”, donde hace hincapié en la experiencia “a través del multijugador, a través de la campaña y a través del cooperativo”.</p>
    </div>
</div>

    