<div class="m-0 vh-100 row d-flex justify-content-center align-items-center">
    <div class="shadow container p-5" style="width: 400px;">
 <form>
     <h4>Iniciar Sesión</h4>
     <div class="form-group mb-0">
       <input type="email" class="form-control" id="idemail" placeholder="Email">
     </div>
     <div class="form-group mt-0">
       <input type="password" class="form-control" id="idcontrasena" placeholder="Contraseña">
     </div>
     <div class="form-group form-check">
       <input type="checkbox" class="form-check-input" id="exampleCheck1">
       <label class="form-check-label">Recordarme</label>
     </div>
     <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
   </form>
</div>