<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="../../../assets/iconocod.png" height="65" alt="" class="mt-0 lg-4">

    <a class="navbar-brand" href="#">CALL OF DUTY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/me">News</a>
        <a class="nav-link" href="/nuevo">SingIns</a>
      
      </div>
    </div>
  </nav>

